[include bed.cfg]
[include board.cfg]
[include fan.cfg]
[include stepper.cfg]

[pause_resume]
recover_velocity: 50

[safe_z_home]
home_xy_position: 161,123 # Change coordinates to the center of your print bed
z_hop: 10                     # Move up 10mm z_hop_speed: 5
z_hop_speed: 10

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
# rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
# (2021-12-24) Marlin=96.875 esteps
# initial_mark_distance = 66.12
# subsequent_mark_distance = 19.66
# requested_extrude_distance = 50
# actual_extrude_distance = <initial_mark_distance> - <subsequent_mark_distance>
# actual_extrude_distance = 66.12 - 19.66 = 46.46
# rotation_distance: 31.97 # FROM ABOVE CALC
rotation_distance: 33.032 # FROM CONVERSION OF PREVIOUS E-STEPS (96.875)

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[respond]
default_type: command

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -45
y_offset: -6.5
#z_offset: 0

