
[gcode_macro PRIME_LINE]
gcode:
    {% set X = params.X|default(3) %}
    {% set Y = params.Y|default(20) %}
    {% set NOZZLE = printer.extruder.nozzle_diameter|default(0.4)|float %}
    {% set LAYER_HEIGHT = params.Z|default(NOZZLE*0.7) %}
    {% set WIDTH = params.WIDTH|default(NOZZLE*1.25)|float %} ; line width in mm
    {% set RETRACTION_LENGTH = params.RETRACTION_LENGTH|default(0.3)|float %} ; mm retraction after line printed
    {% set RETRACTION_SPEED = params.RETRACTION_SPEED|default(45)|int %} ; mm/s retraction speed after line printed
    {% set Z_LIFT = params.Z_LIFT|default(5)|float %} ; z lift after primed line
    {% set PRIME_SEP = (params.PRIME_SEP)|default(NOZZLE*0.75)|float %} ; separation between lines
    {% set WIPE_LENGTH = params.WIPE_LENGTH|default(2)|float %} ; wipe after intro line
    {% set FILAMENT_WIDTH = params.FILAMENT_WIDTH|default(1.75)|float %} ; filament diameter in mm
    {% set SPEED = params.SPEED|default(25)|int %} ; line speed in mm/s
    {% set STEPPER_Y_MAX = printer.configfile.config["stepper_y"]["position_max"]| float %}
    {% set LENGTH = (STEPPER_Y_MAX - 2 * Y)|round(2)|float %} ; line length in mm
    {% set extr_multi = params.EXTRUSION_MULTIPLIER|default(1.25)|float %} ; apply to prime lines
    {% set e_per_mm = extr_multi * (WIDTH * LAYER_HEIGHT) / (3.1415 * (FILAMENT_WIDTH/2)**2) %}

	SAVE_GCODE_STATE NAME=BEFORE_PRIME
    M117 Prime Line
    _CG28 ; Conditional homing

    G92 E0 ;Reset Extruder
    G90 ;Absolute positioning
	{% if printer.gcode_move.gcode_position.z|float < 2.0 %}
		G0 Z2.0 F3000					; Move Z Axis up little to prevent scratching of Heat Bed
	{% endif %}

    G0 X{X} Y{Y} F3000
    G0 Z{LAYER_HEIGHT}
    G91
    G92 E0.0
    G1 Y{LENGTH} E{ e_per_mm * LENGTH } F{(60*SPEED)} ; intro line
    G1 X{PRIME_SEP} F{60*SPEED}
    G1 Y{(-1 * LENGTH)} E{ e_per_mm * LENGTH } F{(60*SPEED)} ; intro line

    {% if WIPE_LENGTH|int != 0 %}
        G1 Y{WIPE_LENGTH} F{(60*SPEED)}
    {% endif %}

    {% if RETRACTION_LENGTH != 0 %}
        G92 E0.0
        G1 E{ (-1 * RETRACTION_LENGTH)} F{60 * RETRACTION_SPEED}
    {% endif %}

    {% if Z_LIFT > 0 %}
        ; Move Z Axis up little to prevent scratching of Heat Bed
        G1 Z{Z_LIFT} F{(30*60)}
    {% endif %}

    M400
    RESTORE_GCODE_STATE NAME=BEFORE_PRIME
